.idea
.DS_Store
node_modules
dist

# Yarn Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Keep environment variables out of version control
.env
